<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5level %logger{1}.%M: %msg%n"/>
        </Console>
        <File name="errors" fileName="logs/main.log">
            <PatternLayout pattern="%d %-5level %logger{1}.%M: %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
        <logger name="errorLogger">
            <appender-ref ref="errors"/>
        </logger>
    </loggers>
</configuration>