<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<h1>Список дел (<span th:text="${todosCount}">:0</span>)</h1>

<button id="show-add-todo-form">Добавить дело</button>
<br><br>

<div id="todo-form">
    <form>
        <h2>Добавление дела</h2>
        <label>Дело:</label>
        <input type="text" name="text" value="">
        <button id="save-todo">Сохранить</button>
    </form>
</div>

<div id="todo-list">
    <div th:each="todo : ${todos}">
        <li>
            <a href="#" class="todo-link" th:attr="data-id=${todo.id}" th:text="${todo.text}"></a>
        </li>
    </div>
</div>
</body>
</html>